<div class="container-games">
    <div class="breadcrumbs">
        <a href="/" class="go-home">Home </a>
        <span class="breadcrumbs-text">/ Whats's New</span>
        <div class="header-news">
            <h1 class="page-title">Browse News</h1>
            <a class="add-button" href="/add-news">+ Add</a>
        </div>
    </div>
    <div class="filters">
        <div class="filters-right">
            <p class="filters-right-text">Category</p>
            <div class="filters-right-list">
                <div class="list-content">
                    <span class="select">All</span>
                    <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
        <div class="filters-left">
            <p class="filters-right-text">Sort By</p>
            <div class="sort-by">
                <span class="select">From New to Old</span>
                <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
            </div>
            <div class="search-games">
                <img src="Screenshot_2024-08-25_120551-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
    <div class="cards-grid-new">
            <div class="cards-cell-new-big new-con">
                <a href="" class="card-card-new-big">
                    <img src="YumiaYT-840x473.jpg" alt="">
                    <div class="card-content-new-big">
                        <div class="heading">
                            <div class="card-categories">
                                <span class="first-span">KTE</span>
                                <span class="not-first-span">Atelier</span>
                            </div>
                            <p class="date">08/27/2024</p>
                        </div>
                        <h1 class="card-title">
                            KOEI TECMO AMERICA unveils the first teaser trailer for Atelier Yumia: The Alchemist of Memories &amp; the Envisioned Land
                        </h1>
                    </div>
                </a>
            </div>
            <div class="cards-cell-new-first new-con">
                <div class="card-card-new">
                    <img src="21_Unison-Raid-400x220.jpg" alt="">
                    <div class="card-content">
                        <h1 class="card-title">FAIRY TAIL 2's Final Battle to Begin Dec. 13!</h1>
                        <div class="card-categories">
                                <span class="first-span">KTE</span>
                                <span class="not-first-span">Collaboration Games</span>
                        </div>
                    </div>
                </div>
            </div>
            {{#each data}}
            <div class="cards-cell-new new-con-two">
                <div class="card-card-new">
                    <img src={{image}} alt="">
                    <div class="card-content">
                        <p class="date">{{date}}</p>
                        <h1 class="card-title">{{header}}</h1>
                        <div class="card-categories">
                                <span class="first-span">{{firstSpan}}</span>
                                <span class="not-first-span">{{notFirstSpan}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
</div>